<!DOCTYPE html>
<html>
  	<head>
	    <meta charset="utf-8">
	    <title>Media App</title>
	    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">

	    <link rel="stylesheet" type="text/css" href="libs/bootstrap/css/bootstrap.min.css">
	    <link rel="stylesheet" type="text/css" href="styles.css">

		<script type="text/javascript" src="libs/angular/angular.js"></script>
		<script type="text/javascript" src="app.js"></script>

  	</head>
	<body ng-app="mediaApp" ng-controller="mediaController">
		<div id="contentsWrapper">
			<div id="mainBlock">

			    <ul class="nav nav-tabs">
			        
			        <li ng-repeat="tab in tabs" class="{{isActiveTab(tab.url)}}" >
			        	<a href="" class="tab" ng-click="onClickTab(tab)" >	{{tab.title}} </a>
	            	</li>
			    </ul>

			    <div id="mainContents">

			        <div ng-include="currentPage"></div>

			        <script type="text/ng-template" id="login.html">

			        	<input ng-model="username" type="text" placeholder="Username" class="form-control"></input>
			        	<input ng-model="password" type="password" placeholder="Passowrd" class="form-control"></input>
			        	<br/>
			        	<button class="btn btn-default" ng-click="onLoginClick(username, password)">login</button><br/>
						<br/>
						<button class="btn btn-default" onclick="">register</button>

			        </script>

			        <script type="text/ng-template" id="accounts.html">
			        	accounts
			        </script>
			        <script type="text/ng-template" id="profile.html">
			        	profile
			        </script>
			        <script type="text/ng-template" id="media.html">
			        	media
			        </script>
			    </div>

			</div>

		    <div id="sideBlock">
		    	<input type="text" id="searchBlock" placeholder="search">
		    	</input>
		    </div>

		</div>
	</body>
</html>