
body{

}

a{
	color: inherit;
}

#contentsWrapper
{
	width: 95%;
	margin: auto;
	background-color: #D4FFAA;
	padding: .5%;
	border-radius: 10px;
	margin-top: 20px;
}
#contentsWrapper:after
{
	content: "";
	clear:both;
	display: block;
}
#mainBlock{
	float: left;
	width: 65%;
	border: 2px solid #EEEEEE;
	border-radius: 9px;
}
#mainContents{
	width: 100%;
	min-height: 200px;
	padding: 10px;
}

#sideBlock{
	float: left;
	width: 35%;
	padding: .5%;
}

.tabs{
	width: 100%;
	text-align: center;
}
.tabs .tab{
	display: inline-block;
	margin: 2px 0px;
	background-color: #FFD4FF;
	padding: 2px;
}

.loginBlock{
	text-align: center;
}

input#searchBlock{
	width: 100%;
	margin-top:2px;
}

.nav a.media{
	padding: 5px 10px;
}